#left-column img{
    width:50px;
    margin-left:10px;
    margin-top:10px;
}

#right-colomn img{
    width:230px;
    margin-left:140px;
    margin-top:100px;
}
img.filltable{
    width: 500px;
    height: 450px;
}
img#logo{
   position:fixed;
   width:120px;
   height: 75px;;
   margin-top:0px;
   margin-left:600px;
   margin-bottom: 50px;
}